<!doctype html>

<head>
  <link rel="stylesheet" href="../static/styles/index.css">
</head>
<html>

<body>
  <div class="house-card house-detail">
    <div class='house-picture-container'>
      <img src="{{ house.picture }}">
    </div>
    <h2>{{ house.name }}</h2>
    <ul>
      <li>Price: {{ house.price }}</li>
      <li>Location: {{ house.location }}</li>
      <li>Size: {{ house.size }}</li>
    </ul>
    <div class="house-description">
      <h3>Description</h3>
      <p>{{ house.description }}</p>
    </div>
  </div>
  <form action="{{url_for('houseById', house_id=house.id)}}" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete" class="sk2" style="vertical-align:middle">
  </form>

  <!-- <button class="sk2" onclick="deleteHouse('{{ house.id }}')">Delete</button> -->
  <a href="/editHouse/{{house.id}}">
    <button class="sk2" style="vertical-align:middle"><span>Edit house </span></button>
  </a>


  <script src="../static/scripts/index.js"></script>

  <a href="/">
    <button class="sk2" style="vertical-align:middle"><span> Go Back to Homepage </span></button>
</a>
</body>

</html>