<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <title>House Listings</title>

    <link rel="stylesheet" href="../static/styles/index.css">
</head>

<body>
    <div class="header">
        <div>House<span>Listing</span></div>
    </div>

    
    <div>
        {% if authenticated == False %}
            <button class="sk2" style="vertical-align:middle" onclick="myFunction()">Login</button>
            
            <div id="myDIV">
                <div id="login-container"> 
                    <form name="login" class="login" action="" method = "POST">
                         
                        <input type="text" placeholder="Username" name="username" value="{{
                        request.form.username }}"><br>
                        <input type="password" placeholder="Password" name="password" value="{{
                        request.form.password }}"><br>
                        <input class= "button" type= "submit" value="Login" />
                    </form>
                {% if error == True %}
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <h2>{{ message }}</h2>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                {% endif %}    
                </div>

        {% else %}
            <a href="/logout">
                <button class="sk2" style="vertical-align:middle"><span>Logout </span></button>
            </a>
            <a href="/enternew">
                <button class="sk2" style="vertical-align:middle"><span>Add house </span></button>
            </a>
        {% endif %}    
        
        
        
        </div>
       
        
        
    </div>

    <div id="list-container"></div>

    <script src="../static/scripts/index.js"></script>
</body>

</html>

