<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <title>House Listings</title>

    <link rel="stylesheet" href="../static/styles/index.css">
</head>

<body>
    <div class="header">
        <div>House<span>Listing</span></div>
    </div>

    <div>
        <a href="/login">
            <button class="button">Login</button>
        </a>
    </div>

    <div id="list-container"></div>

    <script src="../static/scripts/index.js"></script>
</body>

</html>