<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="#000000">
  <title>House Listings</title>

  <link rel="stylesheet" href="../static/styles/index.css">
</head>

<body>
  <div id="login-container">
    <form name="login" class="login" action="" method = "POST">
     
        <input type="text" placeholder="Username" name="username" value="{{
          request.form.username }}"><br>
        <input type="password" placeholder="Password" name="password" value="{{
          request.form.password }}"><br>
        <input class="button" type="submit" value="Login" />
   
    </form>
  </div>
  {% if error %}<h1 class="header"><strong>Error:</strong> {{ error }}</h1>{% endif %}
</body>

</html>